body {
    padding: 35px;
    /* font-family: 'Anton', sans-serif;
    font-family: 'Indie Flower', cursive; */
}

.formTitle {
    font-size: 20pts;
}

input {
    width: 10vw;
}

.btn-primary {
    margin: 20px;
}

#tableClientes {
    visibility: hidden;
}